@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    [data-theme="grayscale"] body {
        filter: grayscale(75%);
    }

    @font-face {
        font-family: 'druk_webbold';
        src: url('../fonts/druk-bold-web-webfont.woff2') format('woff2'),
        url('../fonts/druk-bold-web-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    [x-cloak] {
        display: none;
    }

    :root {
        --scrollbar-track-color: theme('colors.gray.500');
        --scrollbar-thumb-color: theme('colors.primary.500');
        --scrollbar-thumb-border-width: 1px;
        --scrollbar-thumb-border-color: theme('colors.primary.700');
        ---scrollbar-width: 0.75rem;
        ---scrollbar-height: 0.5rem;
        --selection-background: theme('colors.primary.100');
        --selection-color: theme('colors.primary.600');

        --prism-bg: theme('colors.primary.200');
        --prism-border-color: theme('colors.primary.300');
        --prism-text-color: theme('colors.primary.900');
        --prism-text-comment: theme('colors.primary.500');
        --prism-namespace: theme('colors.teal.600');
        --prism-function-name: theme('colors.blue.600');
        --prism-function-num-bool: theme('colors.orange.900');
        --prism-class-name-property: theme('colors.sky.900');
        --prism-selector-keywords: theme('colors.pink.800');
        --prism-string-char-variable: theme('colors.indigo.700');
        --prism-operator-entity-url: theme('colors.sky.700');
        --prism-inserted: theme('colors.green.500');
        --prism-text-punctuation: theme("colors.gray.900");
    }

    @property --gradient-angle {
        inherits: false;
        initial-value: 0deg;
        syntax: "<angle>";
    }

    @keyframes spin-gradient {
        to {
            --gradient-angle: 360deg;
        }
    }



    .dark :not(pre) > code[class*="language-"],
    .dark pre[class*="language-"] {
        --prism-bg: theme('colors.gray.900');
        --prism-border-color: theme('colors.gray.950');
        --prism-text-color: theme('colors.gray.200');
        --prism-text-comment: theme('colors.primary.300');
        --prism-function-num-bool: theme('colors.orange.500');
        --prism-selector-keywords: theme('colors.pink.500');
        --prism-namespace: theme('colors.rose.600');
        --prism-string-char-variable: theme('colors.secondary.600');
        --prism-operator-entity-url: theme('colors.sky.600');
        --prism-text-punctuation: theme("colors.gray.200")
    }


    /* Firefox */
    * {
        scrollbar-width: auto;
        scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: var(---scrollbar-width);
        height: var(---scrollbar-height);
    }

    *::-webkit-scrollbar-track {
        background: var(--scrollbar-track-color);
        border-radius: 0;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
        border-radius: 0.75rem;
        border: var(--scrollbar-thumb-border-width) solid var(--scrollbar-thumb-border-color);
    }

    *::selection {
        background: var(--selection-background);
        color: var(--selection-color)
    }


}


@layer components {


    .wrapper {
        @apply w-full max-w-7xl px-4 md:px-6 lg:px-8 mx-auto;
    }

    .copy-button {
        @apply pointer-events-auto bg-primary-100 hover:bg-primary-200 text-primary-700 dark:bg-gray-950 dark:hover:bg-gray-900 dark:text-primary-500 rounded px-2 py-1.5 border border-primary-500 dark:border-primary-500/50  absolute top-2 right-2 text-sm font-semibold;
    }

    .button {
        @apply pointer-events-auto bg-primary-100 hover:bg-primary-200 text-primary-700 dark:bg-gray-950 dark:hover:bg-gray-900 dark:text-primary-500 rounded px-2 py-1.5 border border-primary-500 dark:border-primary-500/50  text-sm font-semibold;
    }

    .language-header {
        @apply bg-primary-500 text-white px-4 py-0.5 rounded-t text-xs -top-5 -z-10 left-4 font-semibold isolation-auto absolute;
    }

    .heading-1 {
        @apply text-3xl md:text-4xl lg:text-6xl text-gray-800 font-semibold dark:text-gray-200 tracking-tighter text-balance;
    }

    .heading-2 {
        @apply text-2xl md:text-3xl lg:text-4xl text-gray-800 font-semibold dark:text-gray-200 tracking-tighter text-balance;
    }

    .grad {
        @apply bg-gradient-to-r from-primary-500 to-secondary-500 text-transparent pr-1 bg-clip-text;
    }


    .nav-button {
        position: relative;
        isolation: isolate;
    }

    .nav-button:hover::before,
    .nav-button:hover::after,
    .nav-button-active::before,
    .nav-button-active::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 50%;
        border-radius: 100% 0 0 100%;
        transform: translateX(-50%);
        z-index: -10;

    }

    .nav-button::before {
        height: 8px;
        bottom: -10px;
        filter: blur(10px);
        background: theme('colors.primary.500');
    }

    .nav-button::after {
        height: 2px;
        bottom: -10px;
        opacity: 0.75;
        border-radius: 100% 0 0 100%;
        background: linear-gradient(to right, transparent, theme('colors.white'), transparent);
    }

    .cta {
        @apply px-6 py-3 font-semibold rounded-lg bg-gradient-to-b from-primary-500 to-primary-600 hover:from-primary-400 hover:to-primary-500 border-y-2 border-primary-500 text-white tracking-wide inline-block text-shadow text-shadow-x-2 text-shadow-y-2 text-shadow-black/50 shadow-md shadow-black/30;
    }

    [class*=tentacle] {
        @apply saturate-[100%] hue-rotate-[290deg] contrast-[110%]    ;
    }

    .markdown-example {
        @apply flex items-center p-6 my-6 z-20 rounded-lg bg-primary-50 dark:bg-gray-900 border-2 border-primary-500 shadow-lg shadow-primary-500/20 relative;
    }

    .markdown-example .label,
    .card-label {
        @apply absolute bg-primary-500 px-3 text-white text-shadow top-0 translate-x-4 left-0 text-sm font-semibold -translate-y-1/2  rounded-full;
    }

    .card-label {
        @apply px-4 py-1.5 text-base border-2 border-primary-100 dark:border-gray-950;
    }


    .glow {
        animation: spin-gradient 2s linear infinite;
        background: conic-gradient(
            from var(--gradient-angle),
            theme('colors.primary[500]'),
            theme('colors.secondary[500]'),
            theme('colors.primary[500]')
        ) border-box;
        @apply border-[5px] border-transparent relative z-10 text-gray-700 dark:text-gray-200;
    }

    .glow::before {
        border-radius: inherit;
        @apply content-[""] absolute inset-0 -z-[1] bg-gray-100 dark:bg-gray-950;
    }

    .glow::after {
        animation: spin-gradient 2s linear infinite;
        border-radius: inherit;
        background: conic-gradient(
            from var(--gradient-angle),
            theme('colors.primary[500]'),
            theme('colors.secondary[500]'),
            theme('colors.primary[500]')
        );
        @apply content-[""] absolute inset-0 blur-2xl -z-[2];
    }

}

