@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {


  :root {
    /* Default is Dark */
    --primary: theme('colors.gray.900');
    --secondary: theme('colors.primary.400');
  }


  *::selection {
    background: var(--secondary);
    color: var(--primary)
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 1.25rem;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 0.75rem;
    border: 0 solid var(--primary);
  }

  *::selection {
    @apply bg-primary-100 text-primary-600;
  }


}


@layer components {
  .wrapper {
    @apply w-full max-w-7xl px-4 md:px-6 lg:px-8 mx-auto;
  }
}
