@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {


  :root {
    /* Default is Dark */
    --primary: theme('colors.gray.900');
    --secondary: theme('colors.primary.400');
  }

  [data-theme-value="dark"] :root {
    --primary: theme('colors.gray.400');
    --secondary: theme('colors.secondary.500');
  }


  *::selection {
    background: var(--secondary);
    color: var(--primary)
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 1.25rem;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 0.75rem;
    border: 0 solid var(--primary);
  }

  *::selection {
    @apply bg-primary-100 text-primary-600;
  }


  .card {
    isolation: isolate;
    --mouse-x: 0;
    --mouse-y: 0;
    --mouse-scale: 0;
    --light-color: theme('colors.secondary[500]')
  }

  .dark .card {
    --light-color: theme('colors.primary[500]')
  }

  .card::before {
    content: "";
    /*background: radial-gradient(300px circle at var(--mouse-x) var(--mouse-y), green, transparent);*/
    background: radial-gradient(var(--mouse-scale) circle at var(--mouse-x) var(--mouse-y), var(--light-color), transparent);
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    opacity: 0;
    transition-duration: 750ms;
    transition-timing-function: ease-out;
    transition-property: all;
    pointer-events: none;
    top: 0;
    left: 0;
    transform-origin: center;
    border-radius: inherit;

  }

  .card:hover::before {

    opacity: 0.15;
    --mouse-scale: 300px;
  }


}


@layer components {
  .wrapper {
    @apply w-full max-w-7xl px-4 md:px-6 lg:px-8 mx-auto;
  }
}
