

.code-review

    &--st0
        fill: #F2F2F2

    &--st1
        fill: #223460

    &--st2
        // fill: #F2F2F2

    &--st3
        fill: #0071BC

    &--st4
        fill: #0A0E24

    &--st5
        fill: #DBBDBD
